 .u-section-1 {
  background-image: url("images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 819px;
}

.u-section-1 .u-text-1 {
  font-family: FontsFree-Net-SFProText-Bold-1;
  font-size: 6rem;
  font-weight: 700;
  margin: 380px 38px 60px;
}
/* header {
  position: fixed !important;
  backdrop-filter: blur(8px);
  transform: translateY(0);
  transition: transform 500ms ease-in-out, top 500ms ease-in-out; 
} */
.u-nav-item a {
  color: #fff !important;
}

header.animateUP {
  transform: translateY(-82px);
}
#myHeader {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #f1f1f1;
}
.header1 {
  width: 600px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(13px);
  border-radius: 16px;
}
.secondary-header-div {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 130px;
  z-index: 999;
  transition: top 500ms ease-in-out
}
.secondary-header-div-a {
  color: #fff;
  transition: transform 200ms ease-in-out; 
  font-weight: 700;
}
.secondary-header-div-a:hover {
  color: #fff;
  transform: scale(1.1);
  font-weight: 700;
}
.secondary-header-div-a.active{
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(14px);
  padding: 5px 20px;
  border-radius: 8px;
  font-weight: 700;
}
.secondary-header-div.animateUp2 {
  /* position: absolute; */
  top: 20px;
}
@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 125px;
    margin-left: 0;
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 79px;
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 835px;
}

.u-section-2 .u-text-1 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 2.25rem;
  line-height: 1.4;
  width: 986px;
  margin: 170px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  letter-spacing: 1px;
  --radius: 30px;
  font-weight: 700;
  font-family: FontsFree-Net-SFProText-Regular-1;
  font-size: 1.125rem;
  text-transform: none;
  margin: 70px 370px 60px auto;
  padding: 15px 62px 15px 61px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-btn-1 {
    margin-right: 190px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 940px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 625px;
}

.u-section-3 .u-text-1 {
  font-family: FontsFree-Net-SFProText-Bold-1;
  margin: 170px auto 0 44px;
}

.u-section-3 .u-text-2 {
  line-height: 1.2;
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  font-size: 1.5rem;
  margin: 22px 462px 60px 52px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 62px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 314px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 603px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 421px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 234px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 893px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1280px;
  margin: -3px auto 60px -26px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 795px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  font-family: FontsFree-Net-SFProText-Semibold-1;
  line-height: 1.4;
  margin: 254px 30px 0 23px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0px;
  text-transform: none;
  margin: 30px auto 0 23px;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  font-size: 0.8572em;
  vertical-align: 0px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 795px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 1231px;
  height: 744px;
  margin: 0 -527px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 584px;
  }

  .u-section-4 .u-image-1 {
    width: 517px;
    height: 312px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-4 .u-image-1 {
    width: 396px;
    height: 239px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 610px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 384px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 205px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1665px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 99px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1566px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  margin: 77px -20px 0 106px;
}

.u-section-5 .u-image-1 {
  width: 1135px;
  height: 691px;
  margin: 122px 63px 0 -351px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 1566px;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-5 .u-image-2 {
  width: 991px;
  height: 695px;
  margin: 134px -651px -20px auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1601px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1291px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 642px;
    height: 391px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1291px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1437px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    width: 492px;
    height: 300px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 989px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 2021px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1607px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1425px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 207px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1012px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 740px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 77px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 546px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-6 .u-text-1 {
  font-size: 1rem;
  font-family: FontsFree-Net-SFProText-Semibold-1;
  line-height: 1.4;
  margin: 137px 28px 0 17px;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0px;
  margin: 15px auto 0 17px;
  padding: 0;
}

.u-section-6 .u-icon-1 {
  font-size: 0.8572em;
  vertical-align: 0px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 546px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-image-1 {
  width: 636px;
  height: 450px;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-6 .u-image-1 {
    width: 548px;
    height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-6 .u-image-1 {
    width: 420px;
    height: 297px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1259px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 444px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 240px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 882px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: -70px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 901px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 8px;
}

.u-section-7 .u-image-1 {
  width: 523px;
  height: 717px;
  margin: 0 0 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 901px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-text-1 {
  font-family: FontsFree-Net-SFProText-Bold-1;
  font-size: 4.5rem;
  line-height: 1.2;
  margin: 89px -29px 0 38px;
}

@media (max-width: 1399px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 826px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 826px;
  }
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 737px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 681px;
  }

  .u-section-7 .u-image-1 {
    width: 454px;
    height: 623px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 681px;
  }

  .u-section-7 .u-text-1 {
    margin-right: -169px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 578px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 522px;
  }

  .u-section-7 .u-image-1 {
    width: 344px;
    height: 472px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 939px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 783px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 649px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-7 .u-image-1 {
    width: 324px;
    height: 445px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 863px;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 145px auto 0 185px;
}

.u-section-8 .u-group-elements-1 {
  width: 998px;
  min-height: 466px;
  height: auto;
  margin: 25px 57px 60px auto;
}

.u-section-8 .u-group-elements-2 {
  min-height: 89px;
  width: 998px;
  height: auto;
  margin: 0 auto 0 -80px;
}

.u-section-8 .u-line-1 {
  transform-origin: left center 0px;
  height: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  font-family: FontsFree-Net-SFProText-Bold-1;
  font-size: 1rem;
  margin: 20px 38px 0 86px;
}

.u-section-8 .u-icon-1 {
  width: 41px;
  height: 41px;
  margin: -56px auto 15px 0;
  padding: 0;
}

.u-section-8 .u-group-elements-3 {
  min-height: 121px;
  width: 998px;
  height: auto;
  margin: 23px auto 0 -80px;
}

.u-section-8 .u-line-2 {
  transform-origin: left center 0px;
  height: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-icon-2 {
  width: 47px;
  height: 47px;
  margin: 28px 951px 0 0;
  padding: 0;
}

.u-section-8 .u-text-3 {
  font-family: FontsFree-Net-SFProText-Bold-1;
  font-size: 1rem;
  margin: -55px 41px 0 83px;
}

.u-section-8 .u-group-elements-4 {
  min-height: 89px;
  width: 998px;
  height: auto;
  margin: 34px auto 0 -80px;
}

.u-section-8 .u-line-3 {
  transform-origin: left center 0px;
  height: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-icon-3 {
  width: 47px;
  height: 47px;
  margin: 28px 951px 0 0;
  padding: 0;
}

.u-section-8 .u-text-4 {
  font-family: FontsFree-Net-SFProText-Bold-1;
  font-size: 1rem;
  margin: -55px 41px 0 83px;
}

.u-section-8 .u-group-elements-5 {
  min-height: 80px;
  width: 998px;
  height: auto;
  margin: 30px auto 0 -87px;
}

.u-section-8 .u-line-4 {
  transform-origin: left center 0px;
  height: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-5 {
  font-family: FontsFree-Net-SFProText-Bold-1;
  font-size: 1rem;
  margin: 23px 44px 0 80px;
}

.u-section-8 .u-icon-4 {
  width: 47px;
  height: 47px;
  margin: -27px 951px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-elements-1 {
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -88px;
  }

  .u-section-8 .u-icon-4 {
    margin-top: -59px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 139px;
  }

  .u-section-8 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -152px;
  }

  .u-section-8 .u-icon-4 {
    margin-top: -91px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-left: 88px;
  }

  .u-section-8 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -280px;
  }

  .u-section-8 .u-icon-4 {
    margin-top: -155px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 993px;
}

.u-section-9 .u-text-1 {
  font-family: SFPRODISPLAYBOLD;
  margin: 160px auto 0 21px;
}

.u-section-9 .u-text-2 {
  line-height: 1.2;
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  font-size: 1.5rem;
  margin: 61px 493px 60px 21px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-right: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-2 {
    margin-right: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    font-size: 1rem;
    margin-right: 0;
  }
} .u-section-10 {
  background-image: none;
  min-height: 3515px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: -30px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 3445px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-10 .u-image-1 {
  width: 561px;
  height: 798px;
  margin: 47px auto 0;
}

.u-section-10 .u-text-1 {
  font-family: FontsFree-Net-SFProText-Bold-1;
  margin: 117px 113px 0 47px;
}

.u-section-10 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0px;
  margin: 20px 113px 0 47px;
  padding: 0;
}

.u-section-10 .u-icon-1 {
  font-size: 0.8572em;
  vertical-align: 0px;
}

.u-section-10 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0px;
  margin: 20px 113px 0 47px;
  padding: 0;
}

.u-section-10 .u-icon-2 {
  font-size: 0.8572em;
  vertical-align: 0px;
}

.u-section-10 .u-image-2 {
  width: 270px;
  height: 533px;
  margin: 96px 133px 0 auto;
}

.u-section-10 .u-text-2 {
  font-family: FontsFree-Net-SFProText-Bold-1;
  font-size: 4.5rem;
  line-height: 1.2;
  margin: 190px -17px 0 47px;
}

.u-section-10 .u-image-3 {
  width: 280px;
  height: 587px;
  margin: 70px auto 0 153px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 3445px;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-10 .u-image-4 {
  width: 485px;
  height: 88px;
  margin: 103px auto 0 43px;
}

.u-section-10 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  margin: 47px 43px 0;
}

.u-section-10 .u-image-5 {
  width: 545px;
  height: 753px;
  margin: 114px auto 0;
}

.u-section-10 .u-image-6 {
  height: 761px;
  width: 1199px;
  margin: 587px -585px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 935px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 2841px;
  }

  .u-section-10 .u-image-1 {
    width: 470px;
    height: 669px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-10 .u-btn-1 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-10 .u-btn-2 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 2841px;
  }

  .u-section-10 .u-image-4 {
    width: 470px;
    height: 85px;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-image-5 {
    width: 470px;
    height: 650px;
  }

  .u-section-10 .u-image-6 {
    width: 470px;
    height: 299px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 741px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-image-1 {
    width: 360px;
    height: 512px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
  }

  .u-section-10 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-10 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-10 .u-image-2 {
    margin-right: 90px;
  }

  .u-section-10 .u-image-3 {
    margin-left: 80px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-image-4 {
    width: 360px;
    height: 65px;
  }

  .u-section-10 .u-image-5 {
    width: 360px;
    height: 498px;
  }

  .u-section-10 .u-image-6 {
    width: 360px;
    height: 229px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 1158px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 806px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 484px;
  }

  .u-section-10 .u-image-2 {
    margin-right: 70px;
  }

  .u-section-10 .u-image-3 {
    margin-left: 60px;
  }

  .u-section-10 .u-image-4 {
    width: 340px;
    height: 61px;
  }

  .u-section-10 .u-image-5 {
    width: 340px;
    height: 470px;
  }

  .u-section-10 .u-image-6 {
    width: 340px;
    height: 216px;
  }
} .u-section-11 {
  min-height: 2537px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 1348px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-11 .u-text-1 {
  font-family: FontsFree-Net-SFProText-Bold-1;
  margin: 207px 140px 0 47px;
}

.u-section-11 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0px;
  margin: 33px auto 0 47px;
  padding: 0;
}

.u-section-11 .u-icon-1 {
  font-size: 0.8572em;
  vertical-align: 0px;
}

.u-section-11 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0px;
  margin: 13px auto 0 47px;
  padding: 0;
}

.u-section-11 .u-icon-2 {
  font-size: 0.8572em;
  vertical-align: 0px;
}

.u-section-11 .u-btn-3 {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0px;
  margin: 18px auto 0 47px;
  padding: 0;
}

.u-section-11 .u-icon-3 {
  font-size: 0.8572em;
  vertical-align: 0px;
}

.u-section-11 .u-image-1 {
  width: 305px;
  height: 601px;
  margin: 76px auto 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 1348px;
}

.u-section-11 .u-container-layout-2 {
  padding: 18px 0;
}

.u-section-11 .u-image-2 {
  width: 783px;
  height: 571px;
  margin: 103px auto 0 -120px;
}

.u-section-11 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 4.5rem;
  line-height: 1.1;
  margin: 231px 154px 0 -92px;
}

.u-section-11 .u-image-3 {
  width: 308px;
  height: 308px;
  margin: 90px auto 0 calc(((100% - 1320px) / 2) + 486px);
}

.u-section-11 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 2.25rem;
  line-height: 1.4;
  margin: 47px calc(((100% - 1320px) / 2) + 341px) 0 calc(((100% - 1320px) / 2) + 301px);
}

.u-section-11 .u-text-4 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  font-size: 1rem;
  margin: 20px calc(((100% - 1320px) / 2) + 341px) 0 calc(((100% - 1320px) / 2) + 301px);
}

.u-section-11 .u-text-5 {
  font-family: FontsFree-Net-SFProText-Regular-1;
  font-size: 1rem;
  margin: 20px calc(((100% - 1320px) / 2) + 341px) 0 calc(((100% - 1320px) / 2) + 301px);
}

.u-section-11 .u-text-6 {
  font-family: FontsFree-Net-SFProText-Regular-1;
  margin-left: calc(((100% - 1320px) / 2) + 301px);
  margin-right: calc(((100% - 1320px) / 2) + 341px);
  margin-bottom: 60px;
  font-size: 1rem;
}

@media (max-width: 1399px) {
   .u-section-11 {
    min-height: 2353px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 1164px;
  }

  .u-section-11 .u-image-1 {
    height: 600px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 1164px;
  }

  .u-section-11 .u-image-2 {
    width: 573px;
    height: 424px;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 486px);
  }

  .u-section-11 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 251px);
    margin-left: calc(((100% - 1140px) / 2) + 211px);
  }

  .u-section-11 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 251px);
    margin-left: calc(((100% - 1140px) / 2) + 211px);
  }

  .u-section-11 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 251px);
    margin-left: calc(((100% - 1140px) / 2) + 211px);
  }

  .u-section-11 .u-text-6 {
    margin-left: calc(((100% - 1140px) / 2) + 211px);
    margin-right: calc(((100% - 1140px) / 2) + 251px);
  }
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 2149px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 960px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 87px;
    margin-left: 0;
  }

  .u-section-11 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-11 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-11 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 960px;
  }

  .u-section-11 .u-image-2 {
    width: 470px;
    height: 348px;
  }

  .u-section-11 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 486px);
  }

  .u-section-11 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 151px);
    margin-left: calc(((100% - 940px) / 2) + 111px);
  }

  .u-section-11 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 151px);
    margin-left: calc(((100% - 940px) / 2) + 111px);
  }

  .u-section-11 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 151px);
    margin-left: calc(((100% - 940px) / 2) + 111px);
  }

  .u-section-11 .u-text-6 {
    margin-left: calc(((100% - 940px) / 2) + 111px);
    margin-right: calc(((100% - 940px) / 2) + 151px);
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 1289px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-image-2 {
    width: 360px;
    height: 267px;
  }

  .u-section-11 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 412px);
  }

  .u-section-11 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 41px);
    margin-left: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-11 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 41px);
    margin-left: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-11 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 41px);
    margin-left: calc(((100% - 720px) / 2) + 1px);
  }

  .u-section-11 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2) + 1px);
    margin-right: calc(((100% - 720px) / 2) + 41px);
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 1389px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-11 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 232px);
  }

  .u-section-11 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-text-6 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-2 {
    width: 340px;
    height: 252px;
  }

  .u-section-11 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 32px);
  }

  .u-section-11 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-11 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-11 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-11 .u-text-6 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}@font-face {
  font-family: 'FontsFree-Net-SFProText-Bold-1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-SFProText-Bold-1.ttf);
}@font-face {
  font-family: 'SFPRODISPLAYBOLD';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYBOLD.OTF);
}@font-face {
  font-family: 'FontsFree-Net-SFProText-Regular-1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-SFProText-Regular-1.ttf);
}@font-face {
  font-family: 'FontsFree-Net-SFProDisplay-Semibold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-SFProDisplay-Semibold.ttf);
}@font-face {
  font-family: 'FontsFree-Net-SFProText-Semibold-1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-SFProText-Semibold-1.ttf);
}