 .u-section-1 {
  background-image: url("images/proBg-air2-pc.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 778px;
}

.u-section-1 .u-shape-1 {
  width: 323px;
  height: 287px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 414px auto 0 26px;
}

.u-section-1 .u-shape-2 {
  height: 270px;
  width: 593px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -465px auto 0 105px;
}

.u-section-1 .u-group-1 {
  min-height: 315px;
  width: 578px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -207px auto 60px 64px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 0% 18.02%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-shape-1 {
    width: 310px;
    height: 255px;
    margin-top: 487px;
    margin-left: -31px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -433px;
    margin-left: 48px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 7px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-size: auto 105%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 461px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 16.6% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-1 .u-shape-2 {
    width: 468px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 472px;
    margin-left: 84px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 29.52% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-1 .u-shape-1 {
    width: 260px;
    height: 260px;
  }

  .u-section-1 .u-shape-2 {
    width: 276px;
    margin-top: -438px;
  }

  .u-section-1 .u-group-1 {
    width: 280px;
    margin-top: -203px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 818px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 633px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 339px;
  background-image: url("images/546.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  min-height: 339px;
  background-image: url("images/t34543.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 171px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 336px;
  background-image: url("images/53.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 171px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  text-align: left;
  font-size: 1rem;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-image-4 {
  min-height: 339px;
  background-image: url("images/675756.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  min-height: 339px;
  background-image: url("images/3423.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 487px;
  min-height: 623px;
  height: auto;
  margin: -641px auto 78px 653px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 45px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 375px;
  grid-gap: 21px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-10 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.8125rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 501px;
  }

  .u-section-2 .u-image-1 {
    min-height: 298px;
  }

  .u-section-2 .u-image-2 {
    min-height: 298px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 107px;
  }

  .u-section-2 .u-image-3 {
    min-height: 311px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 178px;
  }

  .u-section-2 .u-image-4 {
    min-height: 294px;
  }

  .u-section-2 .u-image-5 {
    min-height: 301px;
  }

  .u-section-2 .u-group-1 {
    width: 413px;
    min-height: 576px;
    margin-top: -576px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 0;
    padding-left: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3463px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 447px;
  }

  .u-section-2 .u-image-2 {
    min-height: 447px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 201px;
  }

  .u-section-2 .u-image-3 {
    min-height: 466px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 227px;
  }

  .u-section-2 .u-image-4 {
    min-height: 882px;
  }

  .u-section-2 .u-image-5 {
    min-height: 903px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4155px;
  }

  .u-section-2 .u-image-1 {
    min-height: 671px;
  }

  .u-section-2 .u-image-2 {
    min-height: 671px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 302px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 699px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    min-height: 662px;
  }

  .u-section-2 .u-image-5 {
    min-height: 677px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2871px;
  }

  .u-section-2 .u-image-1 {
    min-height: 422px;
  }

  .u-section-2 .u-image-2 {
    min-height: 422px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 190px;
  }

  .u-section-2 .u-image-3 {
    min-height: 440px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-image-4 {
    min-height: 417px;
  }

  .u-section-2 .u-image-5 {
    min-height: 426px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1128px;
}

.u-section-3 .u-shape-1 {
  width: 1034px;
  height: 895px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 117px 0 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 1004px;
  height: 949px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -922px 47px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 569px;
  height: 569px;
  background-image: url("images/vbvbbv.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -922px 224px 0 auto;
}

.u-section-3 .u-group-1 {
  width: 544px;
  min-height: 482px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -224px auto 60px 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 9px 40px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.875rem;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-3 .u-shape-1 {
    width: 940px;
  }

  .u-section-3 .u-shape-2 {
    width: 853px;
    height: 854px;
    margin-right: 11px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-3 .u-shape-1 {
    width: 700px;
    height: 882px;
    margin-top: 104px;
    margin-right: auto;
    margin-left: 6px;
  }

  .u-section-3 .u-shape-2 {
    width: 671px;
    height: 783px;
    margin-top: -909px;
    margin-right: auto;
    margin-left: 44px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -756px;
    margin-right: auto;
    margin-left: 118px;
  }

  .u-section-3 .u-group-1 {
    width: 501px;
    margin-left: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-3 .u-shape-1 {
    height: 661px;
    margin-top: 76px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-2 {
    height: 571px;
    margin-top: -688px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 402px;
    height: 402px;
    margin-top: -544px;
    margin-left: 59px;
  }

  .u-section-3 .u-group-1 {
    width: 462px;
    min-height: 502px;
    margin-top: -85px;
    margin-bottom: 49px;
    margin-left: 59px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-3 .u-shape-1 {
    height: 381px;
    width: 310px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-shape-2 {
    height: 346px;
    width: 325px;
    margin-top: -397px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 264px;
    height: 264px;
    margin-top: -330px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    width: 311px;
    min-height: 528px;
    margin-top: -59px;
    margin-left: auto;
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 543px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 760px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 562px;
  margin: 30px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 49px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 0 0 0 auto;
  padding: 10px 31px 10px 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 49px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 0 auto 0 0;
  padding: 10px 40px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-btn-1 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-btn-2 {
    font-size: 0.875rem;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-left: auto;
  }
} .u-section-5 {
  min-height: 942px;
}

.u-section-5 .u-shape-1 {
  height: 465px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-shape-2 {
  width: 826px;
  height: 540px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -226px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-image-1 {
  width: 1011px;
  height: 607px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -676px calc(((100% - 1140px) / 2) + 56px) 0 auto;
}

.u-section-5 .u-group-1 {
  width: 553px;
  min-height: 427px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -265px calc(((100% - 1140px) / 2) + 131px) 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 30px auto 0 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 9px 40px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-btn-2 {
    font-size: 0.875rem;
  }
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 946px;
  }

  .u-section-5 .u-shape-2 {
    width: 775px;
    height: 493px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-image-1 {
    width: 865px;
    height: 565px;
    margin-top: -628px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-group-1 {
    margin-top: -223px;
    margin-right: calc(((100% - 940px) / 2) + 131px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 944px;
  }

  .u-section-5 .u-shape-2 {
    width: 658px;
    height: 378px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-image-1 {
    width: 658px;
    height: 453px;
    margin-top: -528px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-group-1 {
    margin-top: -96px;
    margin-right: calc(((100% - 720px) / 2) + 131px);
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 888px;
  }

  .u-section-5 .u-shape-1 {
    height: 383px;
  }

  .u-section-5 .u-shape-2 {
    width: 463px;
    height: 306px;
    margin-top: -216px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-image-1 {
    width: 493px;
    height: 328px;
    margin-top: -383px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 426px;
    margin-top: -64px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 870px;
  }

  .u-section-5 .u-shape-1 {
    height: 278px;
  }

  .u-section-5 .u-shape-2 {
    width: 313px;
    height: 177px;
    margin-top: -101px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-1 {
    width: 298px;
    height: 212px;
    margin-top: -264px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 298px;
    min-height: 481px;
    margin-top: 32px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 55px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1265px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 55px;
  margin-bottom: 0;
  grid-template-rows: repeat(1, auto);
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 976px;
  grid-gap: 30px;
}

.u-section-6 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/567.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-line-1 {
  width: 276px;
  transform-origin: left center;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  font-weight: 700;
}

.u-section-6 .u-text-3 {
  margin: 12px auto 0 0;
}

.u-section-6 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/54634w66.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-line-2 {
  width: 276px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  font-weight: 700;
}

.u-section-6 .u-text-5 {
  margin: 12px auto 0 0;
}

.u-section-6 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/q3452q3.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-line-3 {
  width: 276px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  font-weight: 700;
}

.u-section-6 .u-text-7 {
  margin: 12px auto 0 0;
}

.u-section-6 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/5456.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-line-4 {
  width: 276px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  font-weight: 700;
}

.u-section-6 .u-text-9 {
  margin: 12px auto 0 0;
}

.u-section-6 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/guy-shows-document-girl-group-yo.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-line-5 {
  width: 276px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  font-weight: 700;
}

.u-section-6 .u-text-11 {
  margin: 12px auto 0 0;
}

.u-section-6 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/Untitled-1.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-line-6 {
  width: 276px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-12 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  font-weight: 700;
}

.u-section-6 .u-text-13 {
  margin: 12px auto 0 0;
}

.u-section-6 .u-text-14 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-style: normal;
  margin: 30px auto 37px;
}

.u-section-6 .u-btn-1 {
  font-style: normal;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-12 {
    font-size: 1.875rem;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 801px;
  }

  .u-section-6 .u-text-14 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1420px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3984px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3694px;
  }

  .u-section-6 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-10 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-12 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3403px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -244px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 40px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 3102px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-14 {
    margin-bottom: -244px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1154px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 508px;
  margin: 60px 0 0 auto;
}

.u-section-7 .u-image-1 {
  min-height: 369px;
  background-image: url("images/ggg-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 670px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 137px 30px 30px 0;
}

.u-section-7 .u-text-1 {
  font-size: 1rem;
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 30px 0 0;
  padding: 10px 31px 10px 30px;
}

.u-section-7 .u-image-2 {
  width: 340px;
  height: 381px;
  margin: -925px 384px 0 auto;
}

.u-section-7 .u-image-3 {
  width: 380px;
  height: 488px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -50px auto 0 135px;
}

.u-section-7 .u-group-1 {
  width: 416px;
  min-height: 298px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -866px auto 734px 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  line-height: 1.7;
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

@media (max-width: 1399px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-btn-2 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1292px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 452px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 219px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: -995px;
    margin-right: 258px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -98px;
    margin-left: 48px;
  }

  .u-section-7 .u-group-1 {
    width: 342px;
    min-height: 332px;
    margin-top: -914px;
    margin-bottom: 866px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1741px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 360px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 640px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-7 .u-image-2 {
    width: 361px;
    height: 399px;
    margin-top: -1322px;
    margin-right: auto;
    margin-left: 51px;
  }

  .u-section-7 .u-image-3 {
    width: 304px;
    height: 381px;
    margin-top: -74px;
    margin-left: 0;
  }

  .u-section-7 .u-group-1 {
    min-height: 276px;
    margin-top: -996px;
    margin-bottom: 815px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2208px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 430px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 606px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    width: 336px;
    height: 403px;
    margin-top: -1764px;
    margin-left: 42px;
  }

  .u-section-7 .u-image-3 {
    width: 330px;
    height: 471px;
    margin-top: -151px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    min-height: 272px;
    margin-top: -1037px;
    margin-bottom: 764px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2094px;
  }

  .u-section-7 .u-image-1 {
    min-height: 275px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 657px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-2 {
    width: 287px;
    height: 350px;
    margin-top: -1581px;
    margin-left: 4px;
  }

  .u-section-7 .u-image-3 {
    width: 275px;
    height: 371px;
    margin-top: -77px;
  }

  .u-section-7 .u-group-1 {
    min-height: 330px;
    margin-top: -1027px;
    margin-bottom: 602px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 630px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 60px 0 60px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 650px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 0 54px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-8 .u-form-1 {
  margin: 29px 14px 0 0;
}

.u-section-8 .u-form-group-1 {
  margin-left: auto;
}

.u-section-8 .u-form-group-2 {
  margin-left: auto;
}

.u-section-8 .u-form-group-3 {
  margin-left: auto;
}

.u-section-8 .u-form-group-4 {
  margin-left: auto;
}

.u-section-8 .u-form-group-5 {
  margin-left: auto;
}

.u-section-8 .u-form-group-6 {
  margin-left: auto;
}

.u-section-8 .u-btn-1 {
  margin-left: auto;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  padding: 14px 0 15px;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 98px;
  min-width: 68px;
  margin: 46px auto 0 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 650px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 449px;
  grid-gap: 0px;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 41px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 2px 0 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 20px 30px 15px 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 41px 0 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 2px 0 0;
}

.u-section-8 .u-container-layout-5 {
  padding: 20px 30px 15px 0;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 41px 0 0;
}

.u-section-8 .u-text-8 {
  margin: 20px 2px 0 0;
}

@media (max-width: 1399px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 536px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
  }

  .u-section-8 .u-text-7 {
    margin-right: 0;
  }

  .u-section-8 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}@font-face {
  font-family: 'FontsFree-Net-SFProText-Semibold-1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-SFProText-Semibold-1.ttf);
}