.u-section-1 .u-sheet-1 {
  min-height: 1744px;
}

.u-section-1 .u-image-1 {
  width: 386px;
  height: 300px;
  margin: 0 auto 0 456px;
}

.u-section-1 .u-image-2 {
  width: 381px;
  height: 425px;
  margin: -185px -119px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 532px;
  height: 323px;
  margin: -364px auto 0 -179px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: SFPRODISPLAYBOLD;
  margin: 70px 224px 0 344px;
}

.u-section-1 .u-image-4 {
  width: 433px;
  height: 492px;
  margin: 0 auto 0 -129px;
}

.u-section-1 .u-image-5 {
  width: 610px;
  height: 344px;
  margin: -374px -355px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  font-size: 1.5rem;
  margin: -406px 238px 0 359px;
}

.u-section-1 .u-image-6 {
  width: 609px;
  height: 423px;
  margin: 176px 325px 60px auto;
}
header {
  position: fixed !important;
  backdrop-filter: blur(8px);
  transform: translateY(0);
  transition: transform 500ms ease-in-out, top 500ms ease-in-out; 
  display: none;
}
.u-nav-item a {
  color: #fff !important;
}

header.animateUP {
  transform: translateY(-82px);
}
#myHeader {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #f1f1f1;
}
.header1 {
  width: 600px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(233, 233, 233, 0.2);
  /* background-color: red; */
  backdrop-filter: blur(13px);
  border-radius: 16px;
}
.secondary-header-div {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 130px;
  z-index: 999;
  transition: top 500ms ease-in-out
}
.secondary-header-div-a {
  color: #fff;
  transition: transform 200ms ease-in-out; 
  font-weight: 700;
}
.secondary-header-div-a:hover {
  color: #fff;
  transform: scale(1.1);
  font-weight: 700;
}
.secondary-header-div-a.active{
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(14px);
  padding: 5px 20px;
  border-radius: 8px;
  font-weight: 700;
}
.secondary-header-div.animateUp2 {
  /* position: absolute; */
  top: 20px;
}
@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1662px;
  }

  .u-section-1 .u-image-1 {
    width: 525px;
    height: 387px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -269px;
    margin-right: -159px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -374px;
    margin-left: -358px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: 193px;
    margin-left: 232px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -50px;
    margin-left: -204px;
  }

  .u-section-1 .u-image-5 {
    height: 544px;
    margin-top: -458px;
    margin-right: -417px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -467px;
    margin-right: 193px;
    margin-left: 224px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 170px;
    margin-right: 250px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1647px;
  }

  .u-section-1 .u-image-1 {
    width: 510px;
    height: 337px;
    margin-left: 208px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -138px;
    margin-right: -240px;
  }

  .u-section-1 .u-image-3 {
    width: 463px;
    height: 476px;
    margin-top: -461px;
    margin-left: -336px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -88px;
    margin-right: 109px;
    margin-left: 94px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 48px;
    margin-left: -306px;
  }

  .u-section-1 .u-image-5 {
    width: 503px;
    margin-top: -589px;
    margin-right: -373px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -371px;
    margin-right: 92px;
    margin-left: 125px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 145px;
    margin-right: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1328px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -131px;
  }

  .u-section-1 .u-image-3 {
    width: 532px;
    margin-top: -374px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 52px;
    margin-right: 40px;
    margin-left: 86px;
  }

  .u-section-1 .u-image-5 {
    width: 610px;
    margin-top: -458px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 67px;
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-1 .u-image-6 {
    width: 573px;
    height: 336px;
    margin-top: 94px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1309px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 141px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1291px;
  }

  .u-section-1 .u-image-1 {
    width: 384px;
    height: 254px;
    margin-left: -22px;
    margin-right: -22px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -19px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.9rem;
    margin-top: 23px;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 200px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 6236px;
}

.u-section-2 .u-text-1 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  font-size: 3rem;
  margin: 147px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  font-size: 2.25rem;
  margin: 65px auto 0;
}

.u-section-2 .u-group-elements-1 {
  width: 603px;
  min-height: 649px;
  height: auto;
  margin: 88px 351px 0 auto;
}

.u-section-2 .u-image-1 {
  height: 416px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 89px 29px 0;
}

.u-section-2 .u-group-elements-2 {
  width: 603px;
  min-height: 649px;
  height: auto;
  margin: 102px auto 0;
}

.u-section-2 .u-image-2 {
  height: 416px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 89px 29px 0;
}

.u-section-2 .u-group-elements-3 {
  width: 603px;
  min-height: 649px;
  height: auto;
  margin: 204px auto 0;
}

.u-section-2 .u-image-3 {
  height: 416px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 89px 29px 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: FontsFree-Net-SFProText-Regular-1;
  font-weight: normal;
  text-decoration: underline !important;
  margin: 65px auto 0 472px;
  padding: 17px 66px 19px;
}

.u-section-2 .u-text-6 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  width: 953px;
  margin: 105px auto 0;
}

.u-section-2 .u-group-elements-4 {
  width: 981px;
  min-height: 769px;
  height: auto;
  margin: 96px auto 0;
}

.u-section-2 .u-image-4 {
  height: 595px;
  margin-top: -4px;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 66px 89px 0 132px;
}

.u-section-2 .u-group-elements-5 {
  width: 981px;
  min-height: 769px;
  height: auto;
  margin: 129px auto 0;
}

.u-section-2 .u-image-5 {
  height: 595px;
  margin-top: -2px;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 66px 89px 0 132px;
}

.u-section-2 .u-group-elements-6 {
  width: 981px;
  min-height: 769px;
  height: auto;
  margin: 183px auto 0;
}

.u-section-2 .u-image-6 {
  height: 595px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 66px 89px 0 132px;
}

.u-section-2 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: FontsFree-Net-SFProText-Regular-1;
  font-weight: normal;
  text-decoration: underline !important;
  margin: 85px 446px 60px auto;
  padding: 17px 66px 19px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-group-elements-1 {
    margin-top: 76px;
    margin-right: auto;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: 114px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 56px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 114px;
  }

  .u-section-2 .u-text-7 {
    width: 760px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 76px;
    margin-right: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6081px;
  }

  .u-section-2 .u-text-6 {
    width: 940px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 940px;
    margin-top: 56px;
    margin-left: -18px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 0;
  }

  .u-section-2 .u-group-elements-5 {
    width: 940px;
    min-height: 733px;
    margin-top: 93px;
    margin-right: -18px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -1px;
  }

  .u-section-2 .u-group-elements-6 {
    margin-top: 129px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 107px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5630px;
  }

  .u-section-2 .u-text-6 {
    width: 720px;
  }

  .u-section-2 .u-group-elements-4 {
    min-height: 653px;
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 448px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 62px;
    margin-right: 119px;
    margin-left: 80px;
  }

  .u-section-2 .u-group-elements-5 {
    width: 669px;
    min-height: 609px;
    margin-top: 177px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-2 .u-image-5 {
    height: 428px;
    width: 669px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    width: 499px;
    margin-top: 73px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-elements-6 {
    min-height: 648px;
    width: 650px;
    margin-top: 69px;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-2 .u-image-6 {
    height: 410px;
    width: 650px;
    margin-top: 1px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 94px;
    margin-right: 51px;
    margin-left: 100px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 540px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 540px;
  }

  .u-section-2 .u-text-6 {
    width: 540px;
  }

  .u-section-2 .u-group-elements-5 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-6 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4471px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.9rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 42px;
    min-height: 514px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 228px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 340px;
    min-height: 562px;
    margin-top: 120px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 235px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-3 {
    min-height: 515px;
    margin-top: 75px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 250px;
    margin-top: 4px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 49px;
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 65px;
    margin-left: -9px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 89px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-4 {
    min-height: 485px;
    margin-top: 107px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 205px;
    width: 338px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-5 {
    width: 400px;
    min-height: 426px;
    margin-top: 76px;
    margin-left: -24px;
  }

  .u-section-2 .u-image-5 {
    height: 203px;
    width: 340px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 79px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-6 {
    min-height: 483px;
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-6 {
    height: 222px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-9 {
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 43px;
    margin-right: -7px;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1168px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1189px;
  margin: 194px auto 48px 36px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 930px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 10px 630px 0 30px;
}

.u-section-3 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 3rem;
  margin: 65px 678px 0 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 47px 678px 0 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 33px 88px 0 30px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 681px;
  height: 855px;
  --radius: 50px;
  margin: -670px -51px 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: -145px 89px 0 30px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 1140px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 997px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 738px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 738px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 46px;
    margin-right: 829px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 34px;
    margin-right: 33px;
    margin-left: 6px;
  }

  .u-section-3 .u-image-1 {
    width: 623px;
    height: 866px;
    margin-top: -679px;
    margin-right: -8px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -147px;
    margin-right: 34px;
    margin-left: 6px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 114px;
    margin-right: 0;
    margin-bottom: 4px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 411px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 489px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 459px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 496px;
    height: 590px;
    margin-top: -507px;
    margin-right: -47px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 89px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1067px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 233px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -287px;
    margin-right: 41px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 607px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 648px;
    height: 357px;
    object-position: 50% 1.15%;
    --radius: 32px;
    margin-top: -514px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 199px;
    margin-right: 27px;
    margin-left: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 944px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 59px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 59px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 286px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 270px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1062px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 518px;
    margin-right: 35px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 43px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 180px;
    margin-top: -409px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 287px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 3313px;
}

.u-section-4 .u-text-1 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  font-size: 3rem;
  margin: 168px 271px 0 318px;
}

.u-section-4 .u-group-elements-1 {
  width: 981px;
  min-height: 769px;
  height: auto;
  margin: 82px 129px 0 auto;
}

.u-section-4 .u-image-1 {
  height: 595px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 66px 89px 0 132px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  margin: 33px 466px 0 auto;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  vertical-align: -1px;
  margin-left: 21px;
  font-size: 0.8em;
}

.u-section-4 .u-group-elements-2 {
  width: 981px;
  min-height: 733px;
  height: auto;
  margin: 153px 129px 0 auto;
}

.u-section-4 .u-image-2 {
  height: 595px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 66px 89px 0 132px;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  margin: 44px 446px 0 auto;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  vertical-align: 0px;
  margin-left: 21px;
  font-size: 0.8em;
}

.u-section-4 .u-btn-3 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  margin: 44px 458px 0 auto;
  padding: 0;
}

.u-section-4 .u-icon-3 {
  vertical-align: 0px;
  margin-left: 21px;
  font-size: 0.8em;
}

.u-section-4 .u-group-elements-3 {
  width: 981px;
  min-height: 733px;
  height: auto;
  margin: 120px 129px 0 auto;
}

.u-section-4 .u-image-3 {
  height: 595px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 66px 89px 0 132px;
}

.u-section-4 .u-btn-4 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  margin: 47px 427px 60px auto;
  padding: 0;
}

.u-section-4 .u-icon-4 {
  vertical-align: 0px;
  margin-left: 21px;
  font-size: 0.8em;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3189px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 206px;
    margin-left: 228px;
  }

  .u-section-4 .u-group-elements-1 {
    min-height: 733px;
    margin-top: 83px;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 35px;
    margin-right: 395px;
  }

  .u-section-4 .u-group-elements-2 {
    margin-top: 1048px;
    margin-right: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -933px;
    margin-right: 368px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 35px;
    margin-right: 391px;
  }

  .u-section-4 .u-group-elements-3 {
    margin-top: -867px;
    margin-right: auto;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 1027px;
    margin-right: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3270px;
  }

  .u-section-4 .u-text-1 {
    width: 684px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-elements-1 {
    width: 940px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 59px;
    margin-right: auto;
  }

  .u-section-4 .u-group-elements-2 {
    width: 940px;
    margin-top: 1024px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -930px;
    margin-right: 257px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 287px;
  }

  .u-section-4 .u-group-elements-3 {
    width: 940px;
    margin-top: -870px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2330px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-right: 258px;
    margin-left: 0;
  }

  .u-section-4 .u-group-elements-1 {
    width: 664px;
    min-height: 527px;
    margin-top: 92px;
  }

  .u-section-4 .u-image-1 {
    height: 420px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-right: 18px;
    margin-left: 41px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 37px;
  }

  .u-section-4 .u-group-elements-2 {
    min-height: 508px;
    margin-top: 769px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 389px;
    width: 641px;
    margin-top: -3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -630px;
    margin-right: auto;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 37px;
    margin-right: auto;
  }

  .u-section-4 .u-group-elements-3 {
    min-height: 573px;
    margin-top: -711px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    height: 429px;
    width: 674px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 716px;
    margin-left: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 194px;
    margin-left: auto;
    width: 540px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1921px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-right: 122px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 340px;
    min-height: 398px;
  }

  .u-section-4 .u-image-1 {
    height: 205px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 49px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-group-elements-2 {
    min-height: 466px;
    width: 350px;
    margin-top: 603px;
    margin-right: auto;
    margin-left: -10px;
  }

  .u-section-4 .u-image-2 {
    height: 229px;
    width: 350px;
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 57px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -583px;
    margin-right: -34px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 31px;
  }

  .u-section-4 .u-group-elements-3 {
    min-height: 430px;
    margin-top: -554px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    height: 226px;
    width: 345px;
    margin-top: -1px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 60px;
    margin-right: 10px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 658px;
    margin-right: -25px;
    margin-left: auto;
  }
} .u-section-5 {
  background-image: url("images/icons_all_apps_1__cnpfv0cc6zo2_large_2x.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 858px;
}

.u-section-5 .u-text-1 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  font-size: 3rem;
  margin: 275px 287px 0 auto;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: FontsFree-Net-SFProText-Regular-1;
  font-weight: normal;
  text-decoration: underline !important;
  margin: 53px auto 60px;
  padding: 17px 66px 19px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 741px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 219px;
    margin-right: 62px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 73px;
    margin-right: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 182px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 48px;
    margin-right: 161px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 702px;
}

.u-section-6 .u-image-1 {
  object-position: 55.62% 50%;
  width: 1403px;
  height: 699px;
  margin: 9px auto -6px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-6 .u-image-1 {
    width: 1240px;
    height: 568px;
    margin-left: -50px;
    margin-right: -50px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-6 .u-image-1 {
    height: 538px;
    width: 1040px;
    margin-top: 0;
    margin-bottom: -45px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-6 .u-image-1 {
    height: 372px;
    width: 820px;
    margin-bottom: -39px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-6 .u-image-1 {
    height: 245px;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-6 .u-image-1 {
    height: 154px;
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 945px;
}

.u-section-7 .u-icon-1 {
  width: 132px;
  height: 132px;
  margin: 170px 563px 0 625px;
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 21px 251px 0 342px;
}

.u-section-7 .u-text-2 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  font-size: 1.5rem;
  margin: 66px 179px 0 270px;
}

.u-section-7 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: FontsFree-Net-SFProText-Regular-1;
  font-weight: normal;
  text-decoration: underline !important;
  margin: 78px 426px 60px auto;
  padding: 17px 66px 19px;
}

@media (max-width: 1399px) {
  .u-section-7 .u-icon-1 {
    margin-right: 486px;
    margin-left: 540px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 161px;
    margin-left: 252px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 180px;
    margin-right: 89px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 75px;
    margin-right: 332px;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 108px;
    margin-right: 370px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-right: 72px;
    margin-left: 141px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 45px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 72px;
    margin-right: 246px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-icon-1 {
    margin-right: 283px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 66px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-icon-1 {
    margin-right: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-7 .u-icon-1 {
    margin-right: 133px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.9rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1681px;
}

.u-section-8 .u-text-1 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 115px auto 0;
}

.u-section-8 .u-text-2 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 53px 283px 0 388px;
}

.u-section-8 .u-image-1 {
  width: 1069px;
  height: 537px;
  margin: 61px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1154px;
  margin: -16px 61px 60px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 317px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  font-size: 1.9rem;
  margin: 6px auto 0;
}

.u-section-8 .u-text-4 {
  font-family: FontsFree-Net-SFProText-Regular-1;
  margin: 23px 86px 0 100px;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  margin: 35px 38px 0 auto;
  padding: 0;
}

.u-section-8 .u-icon-1 {
  vertical-align: 0px;
  margin-left: 21px;
  font-size: 0.8em;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 317px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-8 .u-text-5 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  font-size: 1.9rem;
  margin: 6px auto 0 69px;
}

.u-section-8 .u-text-6 {
  font-family: FontsFree-Net-SFProText-Regular-1;
  margin: 23px 16px 0;
}

.u-section-8 .u-btn-2 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  margin: 42px auto 0;
  padding: 0;
}

.u-section-8 .u-icon-2 {
  vertical-align: 0px;
  margin-left: 21px;
  font-size: 0.8em;
}

@media (max-width: 1399px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1395px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 193px;
    margin-left: 298px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 1140px;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 82px;
    margin-left: 96px;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1305px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 110px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 49px;
    margin-right: 102px;
    margin-left: 189px;
  }

  .u-section-8 .u-image-1 {
    width: 940px;
    height: 472px;
    margin-top: 25px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 49px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 25px;
    margin-left: 39px;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 362px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 49px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 397px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-right: 34px;
    margin-left: auto;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-right: 15px;
    margin-left: 45px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 17px;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 272px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 171px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 301px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 29px;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: 58px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 0;
    margin-right: 78px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 945px;
}

.u-section-9 .u-icon-1 {
  width: 132px;
  height: 132px;
  margin: 170px 563px 0 625px;
  padding: 0;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  margin: 21px 251px 0 342px;
}

.u-section-9 .u-text-2 {
  font-family: FontsFree-Net-SFProDisplay-Semibold;
  font-size: 1.5rem;
  margin: 48px 284px 0 405px;
}

.u-section-9 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: FontsFree-Net-SFProText-Regular-1;
  font-weight: normal;
  text-decoration: underline !important;
  margin: 97px 493px 60px auto;
  padding: 17px 66px 19px;
}

@media (max-width: 1399px) {
  .u-section-9 .u-icon-1 {
    margin-right: 486px;
    margin-left: 540px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 161px;
    margin-left: 252px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 315px;
    margin-right: 194px;
  }

  .u-section-9 .u-btn-1 {
    margin-right: 402px;
  }
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-9 .u-icon-1 {
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-right: 95px;
    margin-left: 118px;
  }

  .u-section-9 .u-text-2 {
    width: 631px;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 61px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }
}@font-face {
  font-family: 'SFPRODISPLAYBOLD';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYBOLD.OTF);
}@font-face {
  font-family: 'FontsFree-Net-SFProDisplay-Semibold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-SFProDisplay-Semibold.ttf);
}@font-face {
  font-family: 'FontsFree-Net-SFProText-Regular-1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-SFProText-Regular-1.ttf);
}@font-face {
  font-family: 'FontsFree-Net-SFProText-Semibold-1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-SFProText-Semibold-1.ttf);
}